h1 {
    margin: 10px auto 10px auto ;
    text-align: center ;
    font-family: "Herculanum" ;
        font-size: 400% ;
    letter-spacing: 0.05em ;
}

body {
    background-color: #f9d185 ;
    color: #5e3900 ;
    min-width: 720px ;
    max-width: 1200px ;
    font-family: "Quadon" ;
    font-size: 80% ;
}

p {
    margin: 20px auto 10px auto;
    padding: 10px ;
    border:1px solid black ;
    box-shadow: 5px 5px ;
    color: #5e3900 ;
    background-color: #FFEFD5 ;
}

ul {
    line-height: 25px ;
    border: 4px double black ;
    padding: 15px 30px 15px 40px ;
    list-style-image: url(palmtree.png) ;
    background:#FFEFD5 ;
}

ol {
    line-height: 15px ;
    border: 4px double black ;
    padding: 20px 30px 20px 30px ;
    list-style: lower-roman ;
    background: #FFEFD5 ;

}

a {
    margin: 10px auto 10 px auto;
}

 a:link {
                color: #e58b00 ;
                    font-size: 20 px ;
                    text-decoration: none ;
            }
            
            a:visited {
                color: #686900 ;
                    font-size: 20 px ;
            }
            
            a:hover {
                text-decoration: underline ;
                color: #b27e00 ;
            }
            
            a:active {
                color: #F4E32F
            }